In [13]:
# Conexao ao banco de dados e criacao do cursor para utilizar SQL
import sqlite3
banco = sqlite3.connect('tarefa.db')

cursor = banco.cursor()

# Criacao da tabela 'funcionarios' com os campos (Codigo, PrimeiroNome, SegundoNome, UltimoNome,
# DataNasci, CPF, RG, Endereco, CEP, Cidade, Fone, CodigoDepartamento, Funcao, Salario)
# cursor.execute("CREATE TABLE funcionarios (codigo integer, primeiroNome text, segundoNome text, ultimoNome text, dataNasci date, CPF text, RG text, endereco text, CEP text, cidade text, fone text, codigoDepartamento text, funcao text, salario money)")

# Criacao da tabela 'departamentos' com os campos (Codigo, Nome, Localizacao, CodigoFuncionarioGerente)
# cursor.execute("CREATE TABLE departamentos (codigo integer, nome text, localizacao text, codigoFuncionarioGerente integer)")

In [19]:
# Listar nome e sobrenome ordenado por sobrenome
cursor.execute("SELECT primeiroNome, ultimoNome FROM funcionarios ORDER BY ultimoNome ASC")
print (cursor.fetchall())

[('Ana', 'Alves'), ('Alice', 'Ferreira'), ('Samuel', 'Gomes'), ('Davi', 'Lima'), ('Julia', 'Martins'), ('Gael', 'Oliveira'), ('Heitor', 'Rodrigues'), ('Arthur', 'Santos'), ('Miguel', 'Silva'), ('Maria', 'Souza')]

In [20]:
# Listar todos os campos de funcionários ordenados por cidade
cursor.execute("SELECT * FROM funcionarios ORDER BY cidade ASC")
print (cursor.fetchall())

[(1, 'Miguel', None, 'Silva', '1990-03-04', '10000000000', '100000000', 'Rua Miguel Silva, 1', '10000000', 'Belo Horizonte', '111111111', '2', 'Recrutador', 5000), (3, 'Gael', None, 'Oliveira', '1983-10-08', '30000000000', '300000000', 'Rua Gael Oliveira, 3', '30000000', 'Belo Horizonte', '111111113', '2', 'Recrutador', 5000), (9, 'Samuel', None, 'Gomes', '1993-06-09', '90000000000', '900000000', 'Rua Samuel Gomes, 9', '90000000', 'Belo Horizonte', '111111119', '2', 'Gerente', 10000), (6, 'Alice', None, 'Ferreira', '2000-01-29', '60000000000', '600000000', 'Rua Alice Ferreira, 6', '60000000', 'Curitiba', '111111116', '3', 'Gerente', 10000), (7, 'Ana', 'Laura', 'Alves', '1987-12-24', '70000000000', '700000000', 'Rua Ana Laura Alves, 7', '70000000', 'Curitiba', '111111117', '3', 'Adm', 4500), (10, 'Julia', None, 'Martins', '1989-07-01', '00000000000', '000000000', 'Rua Julia Martins, 0', '00000000', 'Fortaleza', '111111110', '5', 'Diretor', 25000), (4, 'Maria', 'Helena', 'Souza', '1994-09-25', '40000000000', '400000000', 'Rua Maria Helena Souza, 4', '40000000', 'Goiânia', '111111114', '1', 'Desenvolvedor', 4000), (8, 'Davi', 'Gabriel', 'Lima', '1992-10-05', '80000000000', '800000000', 'Rua Davi Gabriel Lima, 8', '80000000', 'Porto Alegre', '111111118', '4', 'Gerente', 4500), (2, 'Arthur', None, 'Santos', '1996-06-26', '20000000000', '200000000', 'Rua Arthur Santos, 2', '20000000', 'Rio de Janeiro', '111111112', '4', 'Tester', 4000), (5, 'Heitor', None, 'Rodrigues', '1994-03-12', '50000000000', '500000000', 'Rua Heitor Rodrigues, 5', '50000000', 'Uberlândia', '111111115', '1', 'Gerente', 10000)]

In [21]:
# Liste os funcionários que têm salário superior a R$ 1.000,00 ordenados pelo nome completo
sql = """
SELECT primeiroNome, ultimoNome 
FROM funcionarios 
WHERE salario > 1000
ORDER BY primeiroNome ASC
"""
cursor.execute(sql)
print (cursor.fetchall())

[('Alice', 'Ferreira'), ('Ana', 'Alves'), ('Arthur', 'Santos'), ('Davi', 'Lima'), ('Gael', 'Oliveira'), ('Heitor', 'Rodrigues'), ('Julia', 'Martins'), ('Maria', 'Souza'), ('Miguel', 'Silva'), ('Samuel', 'Gomes')]

In [23]:
# Liste a data de nascimento e o primeiro nome dos funcionários ordenados do mais novo para o mais velho
sql = """
SELECT dataNasci, 
primeiroNome
FROM funcionarios 
ORDER BY dataNasci DESC
"""
cursor.execute(sql)
print (cursor.fetchall())

[('2000-01-29', 'Alice'), ('1996-06-26', 'Arthur'), ('1994-09-25', 'Maria'), ('1994-03-12', 'Heitor'), ('1993-06-09', 'Samuel'), ('1992-10-05', 'Davi'), ('1990-03-04', 'Miguel'), ('1989-07-01', 'Julia'), ('1987-12-24', 'Ana'), ('1983-10-08', 'Gael')]

In [27]:
# Liste o total da folha de pagamento
cursor.execute("SELECT SUM(salario) FROM funcionarios")
print (cursor.fetchall())

[(82000,)]

In [28]:
# Liste o nome, o nome do departamento e a função de todos os funcionários
sql = """
SELECT f.primeiroNome, 
d.nome,
f.funcao
FROM funcionarios f
INNER JOIN departamentos d
"""
cursor.execute(sql)
print (cursor.fetchall())

[('Miguel', 'TI', 'Recrutador'), ('Miguel', 'RH', 'Recrutador'), ('Miguel', 'Diretoria', 'Recrutador'), ('Miguel', 'Administração', 'Recrutador'), ('Miguel', 'QA', 'Recrutador'), ('Arthur', 'TI', 'Tester'), ('Arthur', 'RH', 'Tester'), ('Arthur', 'Diretoria', 'Tester'), ('Arthur', 'Administração', 'Tester'), ('Arthur', 'QA', 'Tester'), ('Gael', 'TI', 'Recrutador'), ('Gael', 'RH', 'Recrutador'), ('Gael', 'Diretoria', 'Recrutador'), ('Gael', 'Administração', 'Recrutador'), ('Gael', 'QA', 'Recrutador'), ('Maria', 'TI', 'Desenvolvedor'), ('Maria', 'RH', 'Desenvolvedor'), ('Maria', 'Diretoria', 'Desenvolvedor'), ('Maria', 'Administração', 'Desenvolvedor'), ('Maria', 'QA', 'Desenvolvedor'), ('Heitor', 'TI', 'Gerente'), ('Heitor', 'RH', 'Gerente'), ('Heitor', 'Diretoria', 'Gerente'), ('Heitor', 'Administração', 'Gerente'), ('Heitor', 'QA', 'Gerente'), ('Alice', 'TI', 'Gerente'), ('Alice', 'RH', 'Gerente'), ('Alice', 'Diretoria', 'Gerente'), ('Alice', 'Administração', 'Gerente'), ('Alice', 'QA', 'Gerente'), ('Ana', 'TI', 'Adm'), ('Ana', 'RH', 'Adm'), ('Ana', 'Diretoria', 'Adm'), ('Ana', 'Administração', 'Adm'), ('Ana', 'QA', 'Adm'), ('Davi', 'TI', 'Gerente'), ('Davi', 'RH', 'Gerente'), ('Davi', 'Diretoria', 'Gerente'), ('Davi', 'Administração', 'Gerente'), ('Davi', 'QA', 'Gerente'), ('Samuel', 'TI', 'Gerente'), ('Samuel', 'RH', 'Gerente'), ('Samuel', 'Diretoria', 'Gerente'), ('Samuel', 'Administração', 'Gerente'), ('Samuel', 'QA', 'Gerente'), ('Julia', 'TI', 'Diretor'), ('Julia', 'RH', 'Diretor'), ('Julia', 'Diretoria', 'Diretor'), ('Julia', 'Administração', 'Diretor'), ('Julia', 'QA', 'Diretor')]

In [29]:
# Liste o nome, o nome do departamento e a função de todos os funcionários
sql = """
SELECT COUNT(codigo)
FROM funcionarios
"""
cursor.execute(sql)
print (cursor.fetchall())

[(10,)]

In [ ]:
#cursor.execute("INSERT INTO funcionarios VALUES ()")

# Listar nome e sobrenome ordenado por sobrenome
# Listar todos os campos de funcionários ordenados por cidade
# Liste os funcionários que têm salário superior a R$ 1.000,00 ordenados pelo nome completo
# Liste a data de nascimento e o primeiro nome dos funcionários ordenados do mais novo para o mais velho
# Liste o total da folha de pagamento
# Liste o nome, o nome do departamento e a função de todos os funcionários
# Liste a quantidade de funcionários desta empresa
# Liste o nome do departamento e do funcionário ordenados por departamento e funcionário

In [31]:
# Liste o nome do departamento e do funcionário ordenados por departamento e funcionário
sql = """
SELECT f.primeiroNome, 
d.nome
FROM funcionarios f
INNER JOIN departamentos d
ORDER BY d.nome ASC, f.primeiroNome ASC
"""
cursor.execute(sql)
print (cursor.fetchall())

[('Alice', 'Administração'), ('Ana', 'Administração'), ('Arthur', 'Administração'), ('Davi', 'Administração'), ('Gael', 'Administração'), ('Heitor', 'Administração'), ('Julia', 'Administração'), ('Maria', 'Administração'), ('Miguel', 'Administração'), ('Samuel', 'Administração'), ('Alice', 'Diretoria'), ('Ana', 'Diretoria'), ('Arthur', 'Diretoria'), ('Davi', 'Diretoria'), ('Gael', 'Diretoria'), ('Heitor', 'Diretoria'), ('Julia', 'Diretoria'), ('Maria', 'Diretoria'), ('Miguel', 'Diretoria'), ('Samuel', 'Diretoria'), ('Alice', 'QA'), ('Ana', 'QA'), ('Arthur', 'QA'), ('Davi', 'QA'), ('Gael', 'QA'), ('Heitor', 'QA'), ('Julia', 'QA'), ('Maria', 'QA'), ('Miguel', 'QA'), ('Samuel', 'QA'), ('Alice', 'RH'), ('Ana', 'RH'), ('Arthur', 'RH'), ('Davi', 'RH'), ('Gael', 'RH'), ('Heitor', 'RH'), ('Julia', 'RH'), ('Maria', 'RH'), ('Miguel', 'RH'), ('Samuel', 'RH'), ('Alice', 'TI'), ('Ana', 'TI'), ('Arthur', 'TI'), ('Davi', 'TI'), ('Gael', 'TI'), ('Heitor', 'TI'), ('Julia', 'TI'), ('Maria', 'TI'), ('Miguel', 'TI'), ('Samuel', 'TI')]